<div class="tainer">
  <div class="bar-show-banner" >
  <div class="backlink">
    <%= link_to :back do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
    <div class="bar-show-title">
    <%# <img src="http://res.cloudinary.com/dvocm8ddc/image/upload/v1630415024/pncxgkwdwxypas5vcezj.png" id="bar_logo"> %>
      <h1><%= @bar.name %></h1>
    </div>
    <div class="bar-favorite">
      <% if current_user.bar_favs %>
        <% if current_user.bar_favs.where(bar_id: @bar.id).first %>
        <% @bar_fav = current_user.bar_favs.where(bar_id: @bar.id).first %>
          <%= link_to bar_fav_path(@bar_fav),
            method: :delete,
            remote: true,
            id: "remove-fav" do %>
            <div id="fav-icone"><i class="fas fa-star"></i></div>
            <% end %>
          <%# <div><i class="fas fa-star"></i></div> %>
        <% else %>
          <%= link_to bar_bar_favs_path(@bar), method: :post, remote: true, id: "add-fav" do %>
            <div id="fav-icone"><i class="far fa-star"></i></div>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="bar-show-content">
    <div class="bar-show-photo">
      <% @bar.photo.each do |photo| %>
        <%= cl_image_tag photo.key, :width=>400, :height=>250, 'aria-expanded': false %>
      <% end %>
    </div>
    <div class="d-flex justify-content-center mb-4">
      <div class="btn btn-ghost">
        <%= @bar.description %>
      </div>
    </div>

    <div class="d-flex justify-content-center mb-4">
      <p><%= @bar.address %></p>
    </div>
    <div class="d-flex justify-content-center mb-4">
      <p><i class="far fa-clock"></i> <%= @bar.opening_time %></p>
    </div>
    <div class="d-flex justify-content-center mb-4">
      <div class="bar-show-programme">
        <% if @events.count > 1 %>
          <h2>Dates à venir</h2>
        <% elsif @events.count > 0 %>
          <h2>Date à venir</h2>
        <% else %>
          <h2>Pas de date à venir</h2>
        <% end %>
        <% @events.each do |event| %>
          <%=link_to "#{event.band.name} : #{event.start_date.strftime('%d/%m')} - #{event.start_date.strftime('%H:%M')}", event_path(event), class:"btn btn-gradient"  %>
        <%end%>
      </div>
    </div>
  </div>
</div>
