<div class="backlink">
  <%= link_to :back do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>
<div class="container">
<div class="user-events-cotainer">
  <h1>evenements</h1>
<h4 id="best-bar-title" >Mes évenements</h4>
  <div class="bar-show-programme">
  <% participations = Participation.where(user_id: current_user.id) %>
    <% participations.each do |participation| %>
    <div class="btn btn-gradient"></btn-gradient><%=link_to participation.event.name, event_path(participation.event) %>   <%= " le #{participation.event.start_date.strftime('%d/%m')} à #{participation.event.start_date.strftime('%H:%M')}" %>
</div>
  <% end %>
  </div>
</div>
  <h2>RECHERCHER</h2>
  <input type="" class="input-group mb-4">
  <div class="carousel-container">
    <div class="carousel-wrapper">
      <div class="carousel">
        <div class="cards">
          <% today = [] %>
          <% others = [] %>
          <% @events.each do |event| %>
            <% if event.start_date.today? %>
            <h2>Aujourd'hui</h2>
              <% today << event %>
            <% else %>
              <% others << event %>
            <% end %>
          <% end %>
        <% today.each do |event| %>
        <%= render 'shared/event_card', event: event %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
 <h2>A venir</h2>
  <div class="carousel-container">
    <div class="carousel-wrapper">
      <div class="carousel">
        <div class="cards">
        <% others.each do |event| %>
        <%= render 'shared/event_card', event: event %>
        <% end %>
        </div>
      </div>
    </div>
  </div>



</div>
