<div class="container">
  <h2>Créer mon évènement<h2>
  <%= simple_form_for [ @band, @event ] do |f| %>
    <div class="form-inputs">
      <%= f.input :start_date,
                  label: "Dâte de début",
                  input_html: { autocomplete: "start_date" }%>
      <%= f.input :description,
                  label: "Description de l'évènement",
                  input_html: { autocomplete: "description" }%>
      <%= f.input :bar_id, collection: Bar.all.map{|bar| bar.name}%>
    </div>
    <hr>
    <div class="form-actions">
      <%= f.button :submit, "Créer", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
