<div class="backlink" style="background-color: black">
  <%= link_to :back do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>
<div class="event-show-title">
  <img src="http://res.cloudinary.com/dvocm8ddc/image/upload/v1629902689/xruqwo2ns5utxlkaj9fr.png" class="navbar-logo">
  <%= link_to @event.band.name, band_path(@event.band.id) %> <br> x <br>
  <%= link_to @event.bar.name, bar_path(@event.bar.id)  %>
</div>
<div class="container">

<div class="infos-event">
  <%= "#{@event.start_date.strftime('%d/%m')} - #{@event.start_date.strftime('%H:%M')} @ #{@event.bar.address}" %>
</div>

<%= render 'shared/paticipation_popup', event: @event %>

<div id="infos-container" class="container">

<%if @event.bar.photo.attached? %>
    <div class="carousel-container">
      <div id="carousel-event-wrapper">
        <div class="carousel">
          <div id="photos-event">
              <div class="photo-event">
                <% @event.bar.photo.each do |photo| %>
                  <%= cl_image_tag photo.key, :width=>400, :height=>250, 'aria-expanded': false %>
                <% end %>
              </div>
              <div class="photo-event">
                <% @event.band.photos.each do |photo| %>
                 <%= cl_image_tag photo.key, :width=>400, :height=>250, 'aria-expanded': false %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
<% end %>


<div class="d-flex justify-content-center mb-4">
  <% @event.band.styles.each do |style| %>
  <div class="bandstyle">
    <div class="btn btn-ghost">
      <%= link_to style.style_type, bands_path(:band_style => style.style_type) %>
    </div>
  </div>
  <% end %>
</div>

<div class="description-event">
  <% if @event.description? %>
    <p><%= @event.description %></p>
  <% else %>
    <p><%= @event.band.description %></p>
  <% end %>
</div>
<div class="participants-count">
  <% if @event.participations.count > 1 %>
    <p><%= @event.participations.count %> personnes interessées par cette évenement.</p>
  <% elsif @event.participations.count == 1 %>
    <p><%= @event.participations.count %> personne interessée par cette évenement.</p>
  <% else %>
    <p>Soyez la première personne à vous inscrire à cette évenement!</p>
  <% end %>
</div>


<div class="d-flex justify-content-center mb-4">
  <%  @participations = Participation.where(user: current_user.id)  %>
  <% if @participations.find_by_event_id(@event) %>
    <% @participation = @participations.find_by_event_id(@event) %>
    <%= link_to "Retirer!",
              participation_path(@participation),
              class: "links-event",
              remote: true,
              id: "add-participation",
              method: :delete %>
  <% else  %>
    <%= link_to "Ajouter!", event_participations_path(@event.id), method: :post, remote: true, id: "add-participation", class: "links-event" %>
  <% end %>
</div>

<div class="d-flex justify-content-center mb-4">
  <a id="event-location" class="links-event" href="#"><i class="fas fa-map-marker-alt"></i></a></div>
</div>
