<div class="container">
<h1><%= @event.name %></h1>

<div class="infos-event">
  <%= "#{@event.start_date.strftime('%d/%m')} - #{@event.start_date.strftime('%H:%M')} @ #{@event.bar.address}" %>
</div>

<%if @event.bar.photo.attached? %>
    <div class="carousel-container">
      <div id="carousel-event-wrapper">
        <div class="carousel">
          <div id="photos-event">
              <div class="photo-event">
                <% @event.bar.photo.each do |photo| %>
                  <%= cl_image_tag photo.key, :width=>400, :height=>250, 'aria-expanded': false %>
                <% end %>
              </div>
              <div class="photo-event">
                <% @event.band.photos.each do |photo| %>
                 <%= cl_image_tag photo.key, :width=>400, :height=>250, 'aria-expanded': false %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class="style">
  <%= @event.band.style %>
</div>

<div class="description">
  <% if @event.description? %>
    <p><%= @event.description %></p>
  <% else %>
    <p><%= @event.band.description %></p>
  <% end %>
</div>

<div class="list-inline text-center">
  <%= link_to "Ajouter à mes évenements", new_event_participation_path(@event.id), id: "add-participation" %>
  <a href="#">Y aller!</a>
</div>
</div>

<%= render 'shared/paticipation_popup', event: @event %>
