<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% @bars = Bar.all %>
<% @bars.each do |bar| %>

<% bar.photo.each do |photo| %>
<%= cl_image_tag photo.key, :width=>100, :height=>100, 'aria-expanded': false %>
<% end %>



  <%= link_to bar.name, bar_path(bar.id) %>
  <%= bar.address %>
  <%= bar.description %>
  <%= bar.menu %>
<% end %>

<% @bands = Band.all %>
<% @bands.each do |band| %>
  <%= link_to band.name, band_path(band.id) %>
  <%= band.style %>
<% end %>
