<h1>LIVEPROG</h1>

<form action="bars" method="get">
  <div class="bar-search">
      <div class="bar-search-element">
        <i class="fas fa-search"></i>
          <input class="bar-search-input" list="suggestions" placeholder="bars les plus fréquentés" autocomplete="on">
      </div>
  </div>
</form>

<div class="cards-best-bar">
  <% @bars = Bar.first(4) %>
  <% @bars.each do |bar| %>
    <div class="card">
      <% bar.photo.each do |photo| %>
      <%= cl_image_tag photo.key, :width=>400, :height=>250, 'aria-expanded': false %>
      <% end %>
      <div class="card-infos">
        <div>
          <h2><%= link_to bar.name, bar_path(bar.id) %></h2>
          <p><%= bar.description %></p>
          <hr>
          <p><%= bar.opening_time %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<form action="band" method="get">
  <div class="band-search">
      <div class="band-search-element">
        <i class="fas fa-search"></i>
          <input class="band-search-input" list="suggestions" placeholder="Découvrez des groupes" autocomplete="on">
      </div>
  </div>
</form>

<div class="carousel-container">
  <div class="carousel-wrapper">
    <div class="carousel">
      <div class="cards">
        <% @bands.each do |band| %>
        <%= render 'shared/band_card', band: band %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<button><i class="fas fa-map-marker-alt"></i> A proximité</button>

<div class="carousel-container">
  <div class="carousel-wrapper">
    <div class="carousel">
      <div class="cards">
      <% @events.each do |event| %>
       <%= render 'shared/event_card', event: event %>
       <% end %>
      </div>
    </div>
  </div>
</div>
