<div class="gradient-text-title-container">
  <div class="gradient-text-title">
    LIVEPROG
  </div>
</div>

<div class="band-title-home">
  <i class="fas fa-map-marker-alt" id="geo_logo"></i><%= link_to 'À proximité', bars_path%>
  </div>
  <h4 id="best-bar-title" >Prochains évenements</h4>
  <div class="carousel-container">
    <div class="carousel-wrapper">
      <div class="carousel">
        <div class="cards-event">
        <% @events.future.sorted_by_date.each do |event| %>
        <%= render 'shared/event_card', event: event %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

<div class="band-title-home">
  <img src="http://res.cloudinary.com/dvocm8ddc/image/upload/v1630415024/vw1opkcskqzousdth0wa.png" id="band_logo">
  <%= link_to 'Groupes à découvrir', bands_path %>
  </div>
  <h4 id="best-bar-title" >Actuellement en tournée</h4>
  <div class="carousel-container">
    <div class="carousel-wrapper">
      <div class="carousel">
        <div class="cards_band_home">
          <% @bands.each do |band| %>
          <%= render 'shared/band_card', band: band %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<div class="bar-title-home">
 <img src="http://res.cloudinary.com/dvocm8ddc/image/upload/v1630415024/pncxgkwdwxypas5vcezj.png" id="bar_logo">
  Mes bars préférés
  </div>
  <h4 id="best-bar-title" >Suivez la programmation</h4>
    <%= render "shared/fav_bar_home" %>
