<div class="gradient-text-title">
  <div class="gradient-text-content">
    LIVEPROG
  </div>
</div>
<div class="container">

<<<<<<< HEAD
<<<<<<< HEAD
<%# <form action="bars" method="get"> %>
  <div class="bar-title-home"> Mes bars préférés </div>
        <%# <i class="fas fa-search"></i>
          <input class="bar-search-input" list="suggestions" placeholder="Chercher un bar" autocomplete="on">
      </div>
  </div>
</form> %>

<h4 id="best-bar-title" >Découvre vite si un groupe y joue</h4>
<%= render "shared/fav_bar_home" %>

<%# <form action="band" method="get"> %>
  <div class="band-title-home"> Groupes à découvrir </div>
      <%# <div class="band-search-element">
        <i class="fas fa-search"></i>
          <input class="band-search-input" list="suggestions" placeholder="Découvrez des groupes" autocomplete="on">
      </div>
  </div>
</form> %>

<h4 id="best-bar-title" >Actuellement en tournée</h4>
<div class="carousel-container">
  <div class="carousel-wrapper">
    <div class="carousel">
      <div class="cards_band_home">
        <% @bands.each do |band| %>
        <%= render 'shared/band_card', band: band %>
        <% end %>
=======
  <div id="events-near">
=======
<div id="events-near">
>>>>>>> d46ab569d2aeb20d25f18f3f035c9b5773cb461b
  <i class="fas fa-map-marker-alt"></i><%= link_to ' Bars à proximité', bars_path%>
</div>
<br>

<<<<<<< HEAD
  <h4 id="best-bar-title" >A découvrir</h4>
  <div class="carousel-container">
    <div class="carousel-wrapper">
      <div class="carousel">
        <div class="cards">
          <% @bands.each do |band| %>
          <%= render 'shared/band_card', band: band %>
          <% end %>
        </div>
>>>>>>> b6e419982e3c9ebabb9e8c40c4dc66336844ecee
=======
<%# <form action="bars" method="get"> %>
  <div class="bar-title-home"> Mes bars préférés </div>
        <%# <i class="fas fa-search"></i>
          <input class="bar-search-input" list="suggestions" placeholder="Chercher un bar" autocomplete="on">
      </div>
  </div>
</form> %>

<h4 id="best-bar-title" >Découvre vite si un groupe y joue</h4>
<%= render "shared/fav_bar_home" %>

<%# <form action="band" method="get"> %>
  <div class="band-title-home"> Groupes à découvrir </div>
      <%# <div class="band-search-element">
        <i class="fas fa-search"></i>
          <input class="band-search-input" list="suggestions" placeholder="Découvrez des groupes" autocomplete="on">
      </div>
  </div>
</form> %>

<h4 id="best-bar-title" >Actuellement en tournée</h4>
<div class="carousel-container">
  <div class="carousel-wrapper">
    <div class="carousel">
      <div class="cards_band_home">
        <% @bands.each do |band| %>
        <%= render 'shared/band_card', band: band %>
        <% end %>
>>>>>>> d46ab569d2aeb20d25f18f3f035c9b5773cb461b
      </div>
    </div>
  </div>


  <h4 id="best-bar-title" >Prochains évenements</h4>
  <div class="carousel-container">
    <div class="carousel-wrapper">
      <div class="carousel">
        <div class="cards-event">
        <% @events.future.sorted_by_date.each do |event| %>
        <%= render 'shared/event_card', event: event %>
        <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
