<div class="form-container">
  <h2>Modifier mes informations<h2>
  <%= simple_form_for(@band) do |f| %>
    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  label: "Nom du groupe",
                  input_html: { autocomplete: "name" } %>
      <%= f.input :style,
                  required: true,
                  collection: ["Rock", "Rap", 'Punk'], prompt: "Quel est ton style de musique?"%>
      <%= f.input :youtube_url,
                  input_html: { autocomplete: "youtube_url" }%>
      <%= f.input :facebook_url,
                  input_html: { autocomplete: "facebook_url" } %>
      <%= f.input :photos, as: :file,
                  input_html: { multiple: true } %>


    </div>
    <hr>
    <div class="form-actions">
      <%= f.button :submit, "Créer", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
