<h1>Bands#show</h1>
<p>Find me in app/views/bands/show.html.erb</p>

<% if current_user == @band.owner %>
<%= link_to "Créer un évènement", new_band_event_path(@band), class: "btn btn-primary" %>
<% end %>

<div class="card-bar-container">
    <div class="card-bar">
      <div class="card-bar-img">
        <% @band.photos.each do |photo| %>
          <%= cl_image_tag photo.key, :width=>400, :height=>250, 'aria-expanded': false %>
        <% end %>
      </div>
      <div class="card-bar-content">
        <h1><%= @band.name%></h1>
        <h2><%= @band.style %></h2>
        <p><%= @band.description %></p>
        <% if @band.youtube_url %>
          <iframe width="400" height="225" src = "<%=@band.youtube_url%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <% end %>
        <%= link_to @band.facebook_url, target: "_blank" do %>
          <i class="fab fa-facebook"></i>
        <% end %>
      </div>
    </div>
</div>

<h1>Prochains évenements : </h1>
  <% events = Event.where(band_id: @band.id) %>
  <% events.each do |event| %>
<h2><%= event.name %> le <%= event.start_date %> : <%= event.description %></h2>
  <% end %>
