<div class="d-flex align-items-center justify-content-between px-4 py-2" id="header-band">
<%= @band.name %>
<i id="fav-band" class="far fa-star" style="color:#14FFEC"></i>
</div>


<% if current_user == @band.owner %>
<%= link_to "Créer un évènement", new_band_event_path(@band), class: "btn btn-primary" %>
<% end %>

<%= cl_image_tag @band.photos[0].key, :height=>250, 'aria-expanded': false, class: "mb-4"%>
<br>

<div class="card-bar-content">
  <h2><%= @band.style %></h2>
  <p><%= @band.description %></p>
<br>
        <% if @band.youtube_url %>
          <iframe width="400" height="225" src = "<%=@band.youtube_url%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="mb-4"></iframe>
        <% end %>

        <%# <%= link_to @band.facebook_url, target: "_blank" do %>
          <%# <i class="fab fa-facebook"></i> %>
        <%# <% end %>
      </div>


<h3>Dâtes à venir: </h3>
  <% @events.first(3).each do |event| %>
    <p><%=link_to "@#{event.bar.name} : #{event.start_date.strftime('%d/%m')} - #{event.start_date.strftime('%H:%M')}", event_path%> </p>
  <% end %>
