<div class="backlink">
  <%= link_to :back do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>
<div class="d-flex align-items-top justify-content-between px-4" id="header-band">
  <h1><%= @band.name %></h1>
<i id="fav-band" class="far fa-star" style="color:#14FFEC"></i>
</div>

<div class="bar-show-photo">
  <%= cl_image_tag @band.photos[0].key, :height=>250, 'aria-expanded': false, class: "mb-4"%>
</div>

<div class="d-flex justify-content-center mb-4">
  <div class="btn btn-ghost">
    <%= @band.style %>
  </div>
</div>

<div class="card-bar-content">
  <p class="text-center"><%= @band.description %></p>
<br>
        <% if @band.youtube_url %>
          <iframe width="400" height="225" src = "<%=@band.youtube_url%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="mb-4"></iframe>
        <% end %>

        <%# <%= link_to @band.facebook_url, target: "_blank" do %>
          <%# <i class="fab fa-facebook"></i> %>
        <%# <% end %>
      </div>


<h3>Dâtes à venir: </h3>
  <div class="bar-show-programme">
    <% @events.first(3).each do |event| %>
      <%=link_to "@#{event.bar.name} : #{event.start_date.strftime('%d/%m')} - #{event.start_date.strftime('%H:%M')}", event_path, class: "btn btn-gradient"%>
    <% end %>
    </div>
