<div class="form-container">
<%= "Ajouter un commentaire à #{@band.name}" %>
<%= simple_form_for [ @band, @band_review ]  do |f| %>
  <%= f.input :comment,
      prompt: 'Commentaire',
      label: false %>
      <%= f.input :rating, as: :hidden  %>
      <div class="my-3">
        <% BandReview::AUTHORIZED_RATINGS.each do |index| %>
          <i id="star_<%= index %>" data-star-value="<%=index%>" class="review-rating far fa-star"></i>
        <% end %>
      </div>
      <%= f.submit 'Ajouter', class: "btn btn-ghost" %>
    <% end %>
</div>
